@import './card.scss';
@import './mixins.scss';
@import './commentPage/post.scss';
@import './commentPage/main.scss';
@import '../scss-thomas/abstract/variable.scss';
@import '../scss-thomas/base/hidden';
@import '../scss-thomas/layout/_btn.scss';
@import '../scss-thomas/layout/breadcrumb.scss';
@import '../scss-thomas/layout/footer.scss';

@import '../scss-thomas/layout/header.scss';
@import '../scss-thomas/layout/html.scss';
@import '../scss-thomas/layout/main.scss';
@import '../scss-thomas/layout/screen.scss';



* {
  padding: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
}
#main {
  display: flex;
  flex-direction: row;
}
#categories {
  width: 1200px;
}

.category {
  background-color: #ecf0f1;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  
}


