@import './layout/_card.scss';
@import './abstract/_mixins.scss';
@import './commentPage/_post.scss';
@import './commentPage/_main.scss';
@import './base/_hidden.scss';
@import './layout/_btn.scss';
@import './layout/_breadcrumb.scss';
@import './layout/_footer.scss';
@import './layout/_header.scss';
@import './layout/_html.scss';
@import './layout/_main.scss';
@import './layout/_screen.scss';



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
}
#main {
  display: flex;
  flex-direction: row;
}
#categories {
  width: 1200px;
}

.category {
  background-color: #ecf0f1;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}


