.post-container {
  position: relative;
  background-color: rgb(170, 16, 16);
  padding: 2px;
  height: 1000px;
}
.post {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  margin: 0.5rem 0.5rem;
}
.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 4rem;
}
.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 1rem;
}
.username {
  color: red;
  margin: 0rem;
}
.user-role {
  margin: 0;
  color: lightgray;
}
.user-info {
  font-family: "Rubik", sans-serif;
  margin: 0;
}
.post-infos {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.fa-quote-left {
  position: absolute;
  color: rgb(80, 80, 80);
  top: 0.7rem;
  right: 0.7rem;
  border-radius: 50%;
  background-color: rgb(207, 204, 204);
  padding: 10px;
}
.post-pageup {
  font-size: 10px;
  color: white;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 5px;
  background-color: rgb(80, 80, 80);
  border-radius: 50%;
}

