footer{
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 18%,
    rgba(252, 70, 107, 1) 65%,
    rgba(156, 82, 180, 1) 100%
  );
}
#social-media {
  padding-top: 5rem;
  position: relative;
  z-index: 1;

  ul {
    display: flex;
      flex-direction: row;
      justify-content: center;
      
    li {
      list-style-type: none;
      border: 2px solid white;
      margin-bottom: 0;
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      padding: 10px;
    

      i {
        font-size: 0.5rem;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.row{
  background-color: #293133;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-bottom {
  background-color: #293133;
  display: flex;
  padding-bottom: 0.4rem;
  li {
    list-style-type: none;
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    padding: 0.4rem;

    a {
      text-decoration: none;
      color: #d473d4;
      font-size: 0.5rem;

      i {
        color: #d473d4;
        font-size: 0.5rem;
      }
    }

    .list-dark {
      font-size: 0.5rem;
      color: darkgrey;
    }
  }
}

.breadcrumb{
  display: flex;
  align-items: center;
  padding: 0.4rem;
}

.bread-style {
  background-color: white;
  border-radius: 20px 20px 0 0;
}

.bread-item {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  
  a {
    font-size: 2rem;
    
    i {
      font-size: 1.8rem;
      padding: 0.4rem;
    }
  }
}

.bread-foot {
  background-color: #293133;
}

.bread-foot__item {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  color: #d473d4;
  font-size: 0.5rem;
  padding: 0.4rem;
  a {
    font-size: 0.5rem;
    color: #d473d4;
    i {
      font-size: 0.5rem;
      color: #d473d4;
    }
  }
}

#btn-back-to-top {
  position: fixed;
  bottom: 0px;
  right: 20px;
  background-color: #d473d4;
  color: white;
  border: solid 1px white;
  //padding: 0.5rem;

  a{
    color: white;
    padding: 0.5rem;
    text-align: center;
    text-justify: center;
    font-size: 1.5rem;
  }
}
