@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

header {
  filter: hue-rotate(270deg);
  //background: black;
  background-image: url('https://raw.githubusercontent.com/StephanieAn/forumphp/main/src/public/img/elephant.jpg') ;
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;

  height: 20rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  

  h1 {
    font-size: clamp(30px, 15vw, 5rem);
    color: white;
    text-transform: uppercase;
    font-family: "Urbanist", sans-serif;
    font-weight: 300;
    padding: 2rem 0;
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2.5rem;
    

    li {
     font-size: 1.5rem;
      font-weight: 500;
      // position: absolute;
      
    }

    .nav-item {
      // justify-content: flex-end;
      // align-items: center;
      font-family: "Urbanist", sans-serif;
      font-size: 2rem;
      font-weight: 700;
      

      i {
        margin-right: 0.2rem;
      }

      a{
        color: white;
        font-size: 1rem;
        margin-left: 0.8rem;
      }
    }

    .navbar-toggler-icon {
      padding: 10px;
    }
  }
}

